//Button

.btn-fb {
    color: $color-white;
    background-color: $color-blue-facebook;
}

.btn-fb:hover {
    color: $color-white;
    background-color: $color-blue-facebook-hover;
}

.btn-g {
    color: $color-white;
    background-color: $color-coral;
}

.btn-g:hover {
    color: $color-white;
    background-color: $color-red-brick;
}
