//Variables

//Colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #2980b9;
$color-blue-sky: #387dd3;
$color-blue-dark: #000c53;
$color-blue-facebook: #3b5998;
$color-blue-facebook-hover: #496ebc;
$color-blue-facebook-hover-light: #0077e2;
$color-gray-light: #dddddd;
$color-gray-lighter: #f9f9f9;
$color-gray-medium: #d2d1d1;
$color-gray-dark: #333333;
$color-gray-slate: #7b8286;
$color-coral: #dd4b39;
$color-red-brick: #a23729;
$color-green-kelly: #27ae60;
$color-bisque: #ffe4c4;

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
