<footer class="text-center">
    <p >Made by - ____________&nbsp;&nbsp;

        <a href="mailto:pvgupta24@gmail.com" style=" text-decoration: none;">
            <span class="fa fa-envelope"> </span>
        </a>
        <a href="https://github.com/pvgupta24" style=" text-decoration: none;" target='_blank'>
            <i class="fa fa-github"> </i>
        </a>
        <a href="https://www.linkedin.com/in/praveen-gupta-953869130/" style=" text-decoration: none;" target='_blank'>
            <i class="fa fa-linkedin-square"></i>
        </a>
    </p>
</footer>