<!--
<footer class="">
    <p >Made with <i class="fa fa-heart" aria-hidden="true"></i> by&nbsp;<br>

    </p>
</footer>-->
<!--<footer>
    <p>Hello there</p>
</footer>-->
<footer id="myFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"><br><br><br><br><br>
                <img src="https://www.youtube.com/yt/about/media/images/brand-resources/logos/YouTube-logo_light.svg" style="height: 35px" class="logo">
            </div>
            <div class="col-sm-2"><br><br><br>
                <h5>Getting Started</h5>
                <p>
                    Organize all your YouTube video content without any distraction.Make playlist easily, faster and
                    efficiently
                </p>
            </div>
            <div class="col-sm-2"><br><br><br>
                <h5>Frameworks</h5>
                <ul>
                    <li>AngularJS</li>
                    <li>NodeJS</li>
                    <li>Mongoose</li>
                    <li>ExpressJS</li>
                </ul>
            </div>
            <div class="col-sm-2"><br><br><br>
                <h5>Acknowledgement</h5>
                <p>We would like to thank all the IEEE-WebDev mentors for their constant support and all the help</p>
            </div>
            <div class="col-sm-4">
                <h5>Developers</h5>
                <div class="social">
                    <img class="img-circle"
                         src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/15698315_1206236326133127_4272315190323740037_n.jpg?oh=b50419c8d7958ebbcb22e61c27eb872d&oe=5A344FAF"
                         style="height: 100px" data-toggle="tooltip" title="Praveen Gupta" data-placement="top">

                    <a href="mailto:pvgupta24@gmail.com" class="envelope"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.facebook.com/praveengupta240198" class="facebook" target="_blank"><i
                            class="fa fa-facebook-square"></i></a>
                    <a href="https://github.com/pvgupta24" class="github"><i class="fa fa-github fa-lg "></i></a>
                    <br><br>
                    <img class="img-circle"
                         src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-1/13432433_614236632076071_4891347112736792788_n.jpg?oh=46fe58e585ade1fe69b832ae2d8f418f&oe=5A365696"
                         style="height:100px;" data-toggle="tooltip" title="Mishal Shah" data-placement="bottom">
                    <a href="mailto:shahmishal1998@gmail.com" class="envelope"><i class="fa fa-envelope "></i></a>
                    <a href="https://www.facebook.com/mishal.shah.7731" class="facebook" target="_blank"><i
                            class="fa fa-facebook-square "></i></a>
                    <a href="https://github.com/mishal23" class="github"><i class="fa fa-github fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Made with <i class="fa fa-heart"></i> by Praveen and Mishal</p>
        <a href="https://github.com/pvgupta24/Youtube-Playlist" target="_blank">Contribute to the app <i class="fa fa-github"></i></a>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>