<div class="text-center" ng-controller="homeCtrl">
    <div class="container">


        <div class="form-group form-inline">
            <input autocomplete="off" type="text" id="filterBox" class="form-control"
                   ng-model="search"
                   placeholder="Filter playlists by Name">

        </div>
        <div class="row">

            <div class="col-md-3" ng-repeat="playlist in playlists | filter:{name:search} track by $index"
                 ng-style="(playlist.public||playlist.user.email===user.email)?{'cursor': 'pointer'}:{'cursor': 'not-allowed'}"
                 ng-click="(playlist.public||playlist.user.email===user.email)?openPlaylist(playlist):return;">
                <div ng-class="playlist.public?'offer offer-primary':'offer offer-success'">
                    <div class="shape">
                        <div class="shape-text">
                            {{playlist.public?"Public":"Private"}}
                        </div>
                        <br>
                    </div>

                    <div class="offer-content">
                        <h3 class="lead text-capitalize text-center" style="white-space: nowrap">
                            {{playlist.name}}
                        </h3>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-center">
                                    <img class="img-rounded" height="60px" ng-src="{{playlist.user.imageUrl}}"
                                         alt="User image">
                                </p>
                            </div>
                            <div class="col-md-8  text-right">
                                Created by :<br>
                                {{playlist.user.name}}<br>
                                <code>
                                    <small>{{playlist.user.email}}</small>
                                </code>

                            </div>
                        </div>
                        <hr>
                        <small>
                            &nbsp;&nbsp;&nbsp;Created on &nbsp;&nbsp;: <kbd>
                            {{formatDate(playlist.created)}}</kbd>
                        </small>
                        <br>
                        <small>
                            Last Updated : <kbd>
                            {{formatDate(playlist.updated)}}</kbd>
                        </small>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>