<div ng-controller="playlistCtrl">

    <div class="container ">

       <!-- <div class="form-group form-inline text-center">
            <input autocomplete="off" type="text" id="filterBox" class="form-control"
                   ng-model="search"
                   placeholder="Search for songs">

        </div>-->
        <div class="row">

            <div class="text-uppercase text-center " style="color: lightsalmon;"><h4>{{playlistName}}</h4>
                <hr class="my-2" style="width: 30%">
            </div>

            <div class="text-center ">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#playAllModal" ng-click="playAllButton()">Play ALL <span
                        class="btn-separator"></span>
                    <i class="fa fa-play"></i>
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#playAllModal" ng-click="shuffleAllButton()">Shuffle ALL <span
                        class="btn-separator"></span><i class="fa fa-random"></i>
                </button>
                <script></script>
                <button type="button" class="btn btn-danger deletePlaylist"
                        data-toggle="confirmation"
                        data-btn-ok-label="YES"
                        data-btn-ok-class="btn btn-success" data-btn-ok-icon="fa fa-trash-o"
                        data-btn-cancel-label="NO"
                        data-btn-cancel-class="btn btn-danger"
                        data-title="Delete Playlist" data-content="Are you sure?" data-placement="right">Delete
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="playAllModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModal3Label"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Play SONGS
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    ng-click="reload">
                                <span aria-hidden="true">&times;</span>`
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe class="embed-responsive-item" ng-src="{{trustUrl(playAllUrl)}}" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="input-group">

        <input ng-model="songUrl" type="text" class="form-control"
               placeholder="Add youtube url to add song to playlist"
               ng-keypress="($event.keyCode === 13)?addSong():console.log('Press Enter key to add song')">
        <span class="input-group-btn">
    <button class="btn btn-warning" type="button" ng-click="addSong()">Add Song</button>
  </span>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6 col-md-4 " ng-repeat="song in songs  track by $index">
            <div class=" text-center">

                <div class="  embed-responsive embed-responsive-4by3 ">
                    <iframe class=" thumbnail embed-responsive-item" ng-src="{{trustUrl(song)}}"
                            allowfullscreen></iframe>
                </div>

                <div class="caption" style="padding-top: 5px" ng-init="getSongDetails(song,$index)">

                    <script>$(function () {
                        $('[data-toggle="popover"]').popover()
                    });</script>
                    <p>

                        <button tabindex="0" class="btn btn-primary col-md-10" role="button"
                                data-toggle="popover" data-placement="top" data-trigger="focus"
                                title="{{''+title[$index]}}"
                                ng-click="getSongDetails(song)"
                                data-content="{{details[$index]}}" style="overflow: hidden">
                            {{title[$index] }}
                        </button>
                        <button type="button" ng-click="deleteSong(song)" class="btn btn-danger pull-right "
                                title="Delete Song"><i
                                class="fa fa-trash-o"></i></button>


                        <br>
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
