<div ng-controller="playlistsCtrl">
    <div>
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-primary" style="width:50%;" data-toggle="modal"
                    data-target="#addplaylist">
                Add New Playlist
            </button>
        </div>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="addplaylist" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
             aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center">Add New Playlist
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>
                    </div>
                    <div class="modal-body ">


                        <div class="input-group container">
                            <div class="text-center">
                                <input ng-model="newPlaylistDetails.playlistName" type="text" class="form-control"
                                       placeholder="Playlist Name" style="width: 40%"></div>
                            <br>
                            <br>
                            <!--Toggle switch-->
                            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                                  rel="stylesheet">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                            <div ng-init="newPlaylistDetails.publicCheckBox=true;"
                                 ng-click="newPlaylistDetails.publicCheckBox=!newPlaylistDetails.publicCheckBox;">
                                <input type="checkbox" data-toggle="toggle"
                                       class="form-control mr-auto" data-on="Public" checked
                                       data-width="10%" data-off="Private" data-offstyle="success"
                                       data-style="slow"
                                       style="transition: left 0.7s; -webkit-transition: left 0.7s; ">
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addPlaylist()">Add
                            Playlist
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-4 " style="cursor: pointer" ng-repeat="playlist in playlists track by $index"
             ng-click="openPlaylist(playlist.name)">
            <div class=" text-center">

                <div class="  embed-responsive embed-responsive-4by3 ">
                    <iframe class="thumbnail embed-responsive-item" ng-src="{{getPlayAllUrl(playlist.songs)}}"
                            allowfullscreen></iframe>
                </div>
                <div class="caption text-capitalize">
                    <a type="button" class="btn " style="width: 100%;line-height: 100%;background-color: transparent">

                        <span class="lead text-center btn " style="width:100%;background-color: rgba(0,12,83,0.8);color: bisque">
                            {{playlist.name}} </span>


                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
