<div ng-controller="playlistsCtrl">
    <div>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addplaylist">
            Add New Playlist
        </button>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="addplaylist" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title " id="exampleModal3Label">Add New Playlist
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body ">

                        <div class=""><!--input group-->

                            <input ng-model="newPlaylistDetails.playlistName" type="text" class="form-control "
                                   placeholder="Playlist Name ">
                            <br>

                            <!--Toggle switch-->
                            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                                  rel="stylesheet">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

                            <input ng-model="newPlaylistDetails.publicCheckBox" type="checkbox" data-toggle="toggle"
                                   class="form-control" data-on="Public"
                                   data-width="100" data-off="Private" data-offstyle="success" data-style="slow"
                                   style="transition: left 0.7s; -webkit-transition: left 0.7s;">

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addPlaylist()">Add
                            Playlist
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-4 " style="cursor: pointer" ng-repeat="playlist in playlists track by $index"
             ng-click="openPlaylist(playlist.name)">
            <div class="thumbnail text-center well well-sm">

                <!--  <div class="embed-responsive embed-responsive-4by3 ">
                      <iframe class="embed-responsive-item" ng-src="{{trustUrl(song)}}" allowfullscreen></iframe>
                  </div>
-->
                <div class="caption text-capitalize">
                    <h3>{{playlist.name}}</h3>
                    <p>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#playAllModal" ng-click="playAllButton()">Play ALL <span
                                class="btn-separator"></span>
                            <i class="fa fa-play"></i>
                        </button>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#playAllModal" ng-click="shuffleAllButton()">Shuffle ALL <span
                                class="btn-separator"></span><i class="fa fa-random"></i>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
