<div class="container" ng-controller="searchCtrl">

    <div class="row" style="overflow: hidden">
        <div class="col-sm-6 col-md-4 " ng-repeat="song in searchInfo track by $index">

            <div class="thumbnail text-center well well-sm">

                <div class="embed-responsive embed-responsive-4by3 ">
                    <iframe class="embed-responsive-item" ng-src="{{trustUrl(song.id)}}" allowfullscreen></iframe>
                </div>

                <div class="caption">

                    <p>

                        <button tabindex="0" class="btn btn-info col-md-10" role="button"
                                data-toggle="popover" data-placement="top" data-trigger="focus"
                                title="{{''+song.title}}"
                                ng-click="getSongDetails(song)"
                                data-content="{{details[$index]}}"
                                style="overflow: hidden">
                            {{song.title }}
                        </button>
                        <button type="button" ng-click="addSong(song.id)" class="btn pull-right btn-success"
                                ng-show="searchFromAddState"><i
                                class="fa fa-plus"></i></button>
                        <button type="button" ng-click="copy(song.id)" class="btn pull-right btn-warning"
                                ng-show="!searchFromAddState" ng-click-copy="{{song.id}}"><i
                                class="fa fa-clone"></i></button>

                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>