
body {
    background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/02/26/1392/big_thumb_899f4bb67e8f6bc7ee13bc1d9581a75f.jpg');
    /*
    background-color: #08152b;*/
    padding: 10px;

}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    /*  background-color:rgba(255,255,255,.8);*/
}

/*#logout-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}*/
#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-g {
    color: #fff;
    background-color: #dd4b39;
}

.btn-g:hover {
    color: #fff;
    background-color: #a23729;
}

.navbar-login {

    width: 350px;
    padding: 10px;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

a {
    cursor: pointer
}

.navbar-nav > li > a {
    padding: 15px 15px
}

.customThead {
    background-color: #266898;
}

.header {
    /* padding: 10px;*/
    background-color: aliceblue;
}

.table-striped tbody tr:nth-child(even) {
    background-color: rgba(255, 246, 187, 0.65);
}

.table-striped tbody tr:nth-child(odd) {
    background-color: rgba(134, 139, 255, 0.65);
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #5e869f;
    text-decoration: none;
}

.scroll {

    /*
    padding-bottom: 40px;
    */
    overflow-y: auto;
    min-height: 600px;
}

.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
}

/*


.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
    width: 35px;
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;

    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {
    display: block;
    !* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) *!
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}*/

#wrap {
    margin: 50px 100px;
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
}

input[type="text"] {

    font-size: 25px;
    display: inline-block;
    font-weight: 100;
    color: #555;
    /*
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    */
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}

.offer {
    background: rgba(255, 255, 255, 0.52);
    border: 1px solid #ddd;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}

.offer-radius {
    border-radius: 7px;
}

.offer-success {
    border-color: #27ae60;
}

.offer-success .shape {
    border-color: transparent #27ae60 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #27ae60rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.offer-primary .shape {
    border-color: transparent #2980b9 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #2980b9 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}

.offer-content {
    padding: 0 20px 10px;
}
